<ion-header no-border>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title>Detalle parque</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-item>
    <ion-icon name="arrow-dropright"></ion-icon>
    <ion-label> Elemento: </ion-label>
   <ion-select placeholder="Seleccione" [(ngModel)]="itemSelected" (ionChange)="LoadElemento(itemSelected)">
       <ion-select-option *ngFor="let item of Elementos" value="{{item.id}}">{{ item.elemento }}</ion-select-option>
     </ion-select>
 </ion-item>

	<div class="detaillBox" *ngIf="parkDetail">
      <div class="detaillBox__img">
          <div id="map"></div>
      </div>
      <div class="detaillBox__descripton">
        <div class="detaillBox__descripton_data detaillBox__descripton_data-name">
          {{parkDetail.nombre_Parque}}
        </div>
        <div class="detaillBox__descripton_data detaillBox__descripton_data-stars">

        </div>
        <div class="detaillBox__descripton_data detaillBox__descripton_data-address">
          {{ parkDetail.localidad }}
        </div>

        <ion-fab vertical="center" horizontal="end" slot="fixed" >
          <ion-fab-button href="tutorial/{{ parkDetail.id }}" color="success">
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-fab-button>
          </ion-fab>
      </div>

    </div>
  
    
  
      <ion-list class="listResults" *ngIf="parkDetail">
  
        <ion-item>
          <div>
            <h3> UPZ: </h3>
            <p> {{ parkDetail.uPZ  }} </p>
          </div>
        </ion-item>
  
        <ion-item>
          <div>
            <h3>Idebtificador:</h3>
            <p> {{ parkDetail.identificador_parque }} </p>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <h3>Estrato:</h3>
            <p> {{ parkDetail.estrato }} </p>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <h3>POT:</h3>
            <p> {{ parkDetail.codigo_POT }} </p>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <h3>Certificación:</h3>
            <p> {{ parkDetail.estado_Certificacion }} </p>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <h3>Clasificación:</h3>
            <p> {{ parkDetail.clasificacion_Parque }} </p>
          </div>
        </ion-item>
      </ion-list>
  

</ion-content>
